<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="container">
            <div class="content_wrapper">
                <div class="section-bg__white">
                    <h1>
                        I'm so impress that you are here
                    </h1>
                </div>
            </div>
        </div>
    </body>
</html>
